@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

// fonts
$poppins: 'Poppins', sans-serif;
$opensans: 'Open Sans', sans-serif;

// colors
$pink: hsl(322, 100%, 66%);
$lightpink: hsl(321, 100%, 78%);
$lightred: hsl(0, 100%, 63%);

$verydarkcyan: hsl(192, 100%, 9%);
$verypaleblue: hsl(210, 100%, 98%);

// icon hover color
$paleblue: hsl(210, 100%, 70%);